{% block bierDetails %}
<div class="beer-details">
  <a href="../../">Terug</a>
  <canvas id="beerCanvas"></canvas>

  <div id="beer-image">
    <img src="{{ beer.image.src }}" alt="{{ beer.image.alt }}">
  </div>
  <div class="beer-info">
    <h1>{{ beer.name }}</h1>
    <p> {{ beer.brewer }}</p>
    <p><strong>Style:</strong> {{ beer.style }}</p>
    <p><strong>Description:</strong> {{ beer.description }}</p>
    <p><strong>ABV:</strong> {{ beer.abv }}</p>
    <p><strong>IBU:</strong> {{ beer.ibu }}</p>
    <p><strong>Rating:</strong> {{ beer.rating }}⭐️</p>


  </div>
</div>
{% endblock %}